* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
}

.inline {
    display: inline-block;
}

.upper-case {
    text-transform: uppercase;
}

.colored {
    color: #82ca9c;
}

.darked-colored {
    color: #999
}

.mirror {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.btn-hovered:hover, .item-btn button:hover {
    background-color: white !important;
    color: #82ca9c !important;
    border-color: #82ca9c !important;
}
/****** End global ****/

/** start header **/

#header .info {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}

#header .info .info-container {
    position: relative;
    padding: 10px;
}

#header .info .info-container .social-icons i:nth-child(1):hover {
    color: #3b5998;
}
#header .info .info-container .social-icons i:nth-child(2):hover {
    color: #1da1f2;
}
#header .info .info-container .social-icons i:nth-child(3):hover {
    color: #db4437;
}
#header .info .info-container .social-icons i:nth-child(4):hover {
    color: #007bb5;
}

#header .info  .fab {
    margin-right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#header .info .contact-info {
    position: absolute;
    right: 0;
}

#header .info .contact-info .mob {
    margin-right: 10px;
}

/** nav **/
.div-nav .content-container {
    padding: 30px 0;
}
.div-nav .content-container .container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.div-nav .content-container .title {
    margin-right: 250px;
}
.div-nav .content-container .title .name {
    font-size: 40px;
    margin-left: 25px;
}
.div-nav .nav-data {
    margin: 0 30px;
}
.div-nav .nav-data ul {
    list-style-type: none;
}

.div-nav .nav-data li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.div-nav .nav-data li:hover {
    color: #82ca9c;
}
.div-nav .nav-data li:last-child{
    margin-right: 0;
}

.div-nav .content-container .btn button {
    border-style: none;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.div-nav .content-container .btn button:hover {
    background-color: #82ca9c;
    color: white;
    border-color: transparent;
}
/** cover **/

#header .cover {
    background-image: url('../images/header-img.png');
    height: auto;
    text-align: center;
}
.cover .data .main-title {
    padding-top: 100px;
}
.cover .data .main-title .title {
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    padding: 30px;
}

.cover .data .summery {
    padding-bottom: 100px
}

.cover .data .summery .sum-content {
    color: #ccc;
    width: 60%;
    margin: auto;
}
.cover .data .e-mail {
    padding-bottom: 185px;
}
.cover .data .e-mail .input-placeholder {
    width: 30%;
    margin: auto;
    position: relative;
}

.e-mail .input-placeholder #mail {
    width: 100%;
    border-style: none;
    padding: 15px 110px 15px 10px;
}

.e-mail .input-placeholder .submit {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #82ca9c;
    height: 100%;
    padding: 12px;
    border: 2px solid transparent;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.e-mail .input-placeholder .submit label {
    cursor: pointer;
}

/** End Header **/

/** start sec our product **/
#main .product .sec-content {
    padding: 120px 20px;
}
#main .product .sec-content .container {
    display: flex;
    justify-content: space-around
}
#main .product .sec-content .sec-cap {
    padding-top: 75px;
    width: 40%;
}

#main .product .sec-content .sec-cap .sec-title {
    margin-bottom: 30px;
    color: black;
}

#main .product .sec-content .sec-cap p {
    margin-bottom: 15px;
}

#main .product .sec-content .sec-cap .sec-btn {
    padding: 10px 30px;
    border-style: none;
    background-color: #82ca9c;
    border: 2px solid transparent;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    
}
/** end sec product **/
/** start sec services **/

#main .services .services-content {
    background-color: #f9f9f9;
    padding: 100px 0
}

.services-content .ser-title {
    text-align: center;
    margin-bottom: 100px;
}

.services-content .ser-title .title {
    font-size: 35px;
    margin-bottom: 15px;
}

.services-content .ser-brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ser-brands {
    padding: 50px 100px 0;
}

.ser-brands .ser-item {
    width: 40%;
    margin-bottom: 30px;
    display: flex;
}

.ser-item .item-i {
    margin: auto;
    padding-right: 15px;
}

.ser-item .item-i i {
    font-size: 50px;
    color: #82ca9c;
}

.ser-item .item-text .text-head {
    font-size: 20px;
}

.ser-item .item-text .text-p {
    color: #777;
    margin-top: 10px;
}

/** end services **/

/** start section packages */

#main .packages .pack-content {
    padding: 100px 0;
    text-align: center;
}

.pack-content .pack-title .pack-head {
    font-size: 40px;
    margin-bottom: 15px;
}

.pack-content .pack-title .pack-text {
    width: 50%;
    margin: 0 auto 50px;
}

.pack-content .pack-cat .pack-change {
    background-color: #82ca9c;
    padding: 19px 90px;
    border: 2px solid #82ca9c;
    border-radius: 30px;
    width: max-content;
    margin: 0 auto 50px;
    color: white;
    position: relative;
}

.pack-change .business {
    margin-right: 20px;
    background-color: black;
    padding: 10px 15px;
    border-radius: 30px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.pack-change .community {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
}

.pack-cat .pack-items {
    display: flex;
    justify-content: space-around;
}

.pack-cat .pack-items .pack-item {
    width: 30%;
    border: 1px solid #eee;
    box-shadow: 10px 0px 20px #eee;
}

.pack-cat .pack-items .pack-item .active {
    background-color: #82ca9c;
    color: white;
}

.pack-item .item-title {
    border: 2px solid #82ca9c;
}

.pack-item .item-title p:nth-child(1) {
    padding: 30px 0 10px;
}

.pack-item .item-title p:nth-child(2) {
    padding: 10px 0 20px;
}

.pack-item .item-details {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.pack-item .item-details i {
    margin-bottom: 20px;
}

.pack-item .item-btn button {
    border-style: none;
    width: 100%;
    padding: 25px 0;
    background-color: #82ca9c;
    border: 2px solid transparent;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.pack-item .item-btn .darked-colored {
    color: #eee;
}

.pack-items .item-details .fa-check-circle::before {
    color: #82ca9c;
}

.pack-items .item-details .fa-times-circle::before {
    color: red;
}

/** end packages **/

/** start section platform **/

#main .platform .plat-cont {
    padding: 100px 0;
    text-align: center;
}

.platform .plat-cont .plat-title .plat-head {
    font-size: 40px;
    margin-bottom: 15px;
}

.plat-title .plat-text {
    width: 50%;
    margin: 0 auto 50px;
}
.plat-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.plat-item {
    width: 20%;
    border: 1px solid #ccc;
    box-shadow: 1px 3px 17px 0px #ccc;
    margin: 0 10px 40px 0;
}

.plat-item .item-icon {
    margin: 30px 0 20px;
}

.item-icon i {
    color: #82ca9c;
    font-size: 50px;
}

.item-icon:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 40%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
}

.plat-items .plat-item .item-title {
    margin-bottom: 40px;
    padding: 0 10px;
}

.plat-item .item-title .item-head {
    margin-bottom: 30px;
    font-weight: bold;
}

/** end platform **/

/** start info section **/

#main .info .info-cont {
    padding: 100px 0;
    text-align: center;
}

.info .info-cont .info-title .info-head {
    font-size: 40px;
    margin-bottom: 15px;
}

.info-title .info-text {
    width: 50%;
    margin: 0 auto 50px;
}
.info-cont .info-touch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-message {
    margin-right: 10px;
}
.info-message,
.info-social {
    width: 30%
}

.info-message input,
.info-message textarea {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
}

.info-message textarea {
    height: 150px;
}

.info-message input[type = "submit"] {
    padding: 10px 30px;
    border-style: none;
    background-color: #82ca9c;
    width: max-content;
    border: 2px solid transparent;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
} 

.info-cont .info-social {
    text-align: left;
}

.info-cont .info-social .info-summery,
.info-cont .info-social .info-address,
.info-cont .info-social .info-mob {
    margin-bottom: 25px
}

#main .info .info-cont .info-touch .info-social .fa-facebook-f:hover {
    background-color: #3b5998;
    color: white;
    border-color: transparent;
}

#main .info .info-cont .info-touch .info-social .fa-twitter:hover {
    background-color: #1da1f2;
    color: white;
    border-color: transparent
}

#main .info .info-cont .info-touch .info-social .fa-google-plus-g:hover {
    background-color: #db4437;
    color: white;
    border-color: transparent
}

.info-cont .info-social i.facebook {
    padding: 11px;
}

.info-cont .info-social i {
    border: 2px solid;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}


/** end info **/

/** end main **/

/** start footer **/
footer {
    background-color: #ccc
}
.footer .foot-cont {
    padding: 100px 0;
    display: flex;
    justify-content: center
}

.foot-cont .quick-links {
    width: 22%;
    margin-right: 25px;
    line-height: 1.7;
}

.foot-cont .quick-links .foot-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.quick-links .e-mail {
    position: relative;
    margin-top: 20px;
}

.quick-links .e-mail .submit {
    padding: 10px;
}


/** end footer */