body {
    height: 10000px;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
}

.inline {
    display: inline-block;
}

.upper-case {
    text-transform: uppercase;
}

.colored {
    color: #82ca9c;
}

.darked-colored {
    color: #999
}

.mirror {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
/****** End global ****/

/** start header **/

#header .info {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}

#header .info .info-container {
    position: relative;
    padding: 10px;
}

#header .info  .fab {
    margin-right: 5px
}

#header .info .contact-info {
    position: absolute;
    right: 0;
}

#header .info .contact-info .mob {
    margin-right: 10px;
}

/** nav **/
.div-nav .content-container {
    padding: 30px 0;
}
.div-nav .content-container .container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.div-nav .content-container .title {
    margin-right: 250px;
}
.div-nav .content-container .title .name {
    font-size: 40px;
    margin-left: 25px;
}
.div-nav .nav-data {
    margin: 0 30px;
}
.div-nav .nav-data ul {
    list-style-type: none;
}

.div-nav .nav-data li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
}
.div-nav .nav-data li:last-child{
    margin-right: 0;
}

.div-nav .content-container .btn button {
    border-style: none;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 25px;
    font-size: 15px;
}

/** cover **/

#header .cover {
    background-image: url('../images/header-img.png');
    height: auto;
    text-align: center;
}
.cover .data .main-title {
    padding-top: 100px;
}
.cover .data .main-title .title {
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    padding: 30px;
}

.cover .data .summery {
    padding-bottom: 100px
}

.cover .data .summery .sum-content {
    color: #ccc;
    width: 60%;
    margin: auto;
}
.cover .data .e-mail {
    padding-bottom: 185px;
}
.cover .data .e-mail .input-placeholder {
    width: 30%;
    margin: auto;
    position: relative;
}

.e-mail .input-placeholder #mail {
    width: 100%;
    border-style: none;
    padding: 15px 110px 15px 10px;
}

.e-mail .input-placeholder .submit {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #82ca9c;
    height: 100%;
    padding: 15px
}

/** End Header **/

/** start sec our product **/
#main .product .sec-content {
    padding: 120px 20px;
}
#main .product .sec-content .container {
    display: flex;
    justify-content: space-around
}
#main .product .sec-content .sec-cap {
    padding-top: 75px;
    width: 40%;
}

#main .product .sec-content .sec-cap .sec-title {
    margin-bottom: 30px;
    color: black;
}

#main .product .sec-content .sec-cap p {
    margin-bottom: 15px;
}

#main .product .sec-content .sec-cap .sec-btn {
    padding: 10px 30px;
    border-style: none;
    background-color: #82ca9c;
}
